<header>
  <nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 h1 text-white">Búsqueda de Pokemones Online y Offline</span>
  </nav>  
</header>

<section class="m-2">
  <div class="container-fluid row mx-0">
    <div class="col-2 mt-2" *ngFor="let pokemon of pokemones">  
      <div class="card">
        <img class="card-img-top" src="{{pokemon?.image}}" 
          alt="" height="170" width="160">
        <div class="card-body p-2 bg-dark">
          <p class="card-text text-center text-white">
            {{pokemon?.name}}
          </p>
        </div>
      </div>
    </div>  
  </div>
</section>